{% extends "account/base.html" %}
{% load socialaccount %}

{% block head_title %}Sign In{% endblock %}


{% block content %}
  <div class="container text-dark mt-5">
    <div class="row justify-content-md-center">
      <div class="col-md-5 bg-grey p-3">
        <form class="form-signin">
            <h1 class="h3 mb-3">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <a href="{% provider_login_url 'google' %}" class="btn btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">Sign in with Google</a>
            <p class="mt-5 mb-3 text-muted">&copy; 2022 Made Using Django</p>
          </form>
      </div>
    </div>
  </div>

{% endblock content %}
